# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment variables
.env

# Virtual environment
venv/
env/
.rag/

# IDE configs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Chroma vectorstore (embeddings)
indices/

# Streamlit temporary files
.streamlit/

# Python egg/wheel files
*.egg-info/
dist/
build/
*.egg

# Jupyter Notebook checkpoints
.ipynb_checkpoints/



# Others
*.sqlite
*.db
